<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title> Agregando imagen</title>
  </head>
  <body>
    <div class="container text-center" style="margin-top: 20px;">
      <img src="/Logo.jpeg" style="width:300px;height:300px;" alt="">
      <div>
        <form>
            <label class="form-label" for = "source">Imagen</label><br>
            <input class="form-control" type = "file" id ="source" accept="image/*"><br>
            <label class="form-label" for = "tags">Etiquetas(separadas por comas)</label><br>
            <input class="form-control" type = "text" id ="tags"><br>
            <button class="btn btn-success" id = "submit"> Agregar imagen </button>
        </form>
      </div>
    </div>

    <script type = "text/javascript" src="json/Images.json"></script>
    <script typer = "text/javascript" src = "js/addimg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
