<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title> Agregando imagen</title>
  </head>
  <body>
    <div class="container text-center" style="margin-top: 20px;">
      <img src="/images/logo/Logo.jpeg" style="width:300px;height:300px;" alt="">
      <div>
        <form>
            <label for = "name" class="form-label">Nombre</label><br>
            <input type = "text" id ="name" class="form-control"><br>
            <label for = "quantity" class="form-label">Cantidad de imagenes</label><br>
            <input type = "text" id ="quantity" class="form-control"><br>
            <label for = "tags" class="form-label">Etiquetas (separadas por comas)</label><br>
            <input type = "text" id ="tags" class="form-control"><br>
            <label for = "duration" class="form-label">Duracion (minutos)</label><br>
            <input type = "number" id ="duration" class="form-control"><br>
            <ul id="addTags">

            </ul><br>
            
            <button class="btn btn-success" id = "submit"> Agregar practica </button>
        </form>
      </div>
    
    </div>
    <script typer = "text/javascript" src = "js/addPractice.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
