<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Practicas de dibujo</title>
    </head>
    <body>
      <div class="contianer text-center" style="margin-top: 10px;">
        <div class="container">
          <img src="/images/logo/Logo.jpeg" style="width:300px;height:300px;" alt="">

        </div>

        <div class="contianer" style="margin-top: 50px;">

          <h1>Tech Demo</h1>

          <button class="btn btn-success" type = "button" onclick = window.location.href='addimg'> Agregar imagen </button>
          <button class="btn btn-success" type = "button" onclick = window.location.href='addPractice'> Agregar practica </button>
          <div id = "buttons"></div>
        </div>
    </div>
      
      <script type= "text/javascript" src = "json/Practices.json"></script>
      <script type= 'text/javascript' src = "js/index.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
