<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Slider</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container" style="margin-top: 20px;" >
            <div id = "test"><%= practice.name %></div>
            <input id="duration" type="number" hidden value="<%=practice.duration%>" />
            <input id="quantity" type="number" hidden value="<%=practice.quantity%>"/>
            <!-- Carousel -->
            <div id="carousel-images" class="carousel slide" data-bs-ride="carousel">
            <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <% for(let i=0; i < images.length; i++) { %>
                        <div class="carousel-item <%= i==0 ? "active" : "" %>">
                            <img src="data:<%=images[i].mimetype%>;base64,<%=Buffer.from(images[i].file).toString('base64')%>" class="d-block" style="height:700px">
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <script type = "text/javascript" src = "../js/slide.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
